body {
  font-family: sans-serif;
  background-color: black;
  color: white
}
body {
  background-image: url("https://wallpaper-house.com/data/out/10/wallpaper2you_419584.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
